@import url("/static/media/fonts/anton.ttf");
@import url("/media/fonts/anton.ttf");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  width: 100%;
  height: 100vh;
  overflow: visible;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 5vh;
  background-color: #005baa;
  display: flex;
  align-items: center;
}
header ul li {
  display: inline-block;
  margin-left: 5px;
}
header ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
header ul li a:hover {
  border-bottom: 1px solid white;
}
header ul li input[type=submit] {
  background-color: transparent;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
header ul li input[type=submit]:hover {
  color: gray;
}

main {
  width: 100%;
  min-height: 85vh;
  background-color: #fff;
  display: flex;
}
main section[data-section=journal] {
  width: 60%;
  margin: 0 auto;
  height: calc(100% - 10px);
  overflow-y: scroll;
}
main section[data-section=journal] li {
  margin-top: 3px;
}
main section[data-section=journal] li:last-child {
  padding-bottom: 5px;
}
main section[data-section=journal] li details summary {
  color: white;
}
main section[data-section=journal] li details ul {
  width: 70%;
  margin: 0 auto;
}
main section[data-section=journal] li details ul li {
  list-style: none;
  margin-top: 3px;
}
main section[data-section=journal] li details ul li .line {
  display: block;
  text-align: center;
  font-size: 0.8em;
  border-bottom: 1px solid #000;
}
main section[data-section=journal] li details ul li summary {
  font-size: 0.8em;
  color: black;
}
main section[data-section=journal] li details ul li .signature {
  border-bottom: none;
  text-align: center;
  font-size: 0.9em;
}
main section[data-section=journal] li details ul li .info {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
main section[data-section=journal] li details ul li:last-child {
  padding-bottom: 10px;
}
main section[data-section=journal] span {
  display: block;
  font-size: 0.6em;
}
main section[data-section=journal]::-webkit-scrollbar {
  display: none;
}
main section[data-section=journal] details {
  width: 100%;
  border-radius: 10px;
}
main section[data-section=journal] details summary {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #005baa;
  font-size: 1.3em;
  cursor: pointer;
}
main section[data-section=journal] .date {
  display: block;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-size: 0.7em;
}
main section[data-section=journal] .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section[data-section=journal] .container .full {
  width: 90%;
  table-layout: fixed;
  margin-bottom: 10px;
}
main section[data-section=journal] .container .full th {
  border: none;
  border-bottom: 1px solid #000;
}
main section[data-section=journal] .container .full td {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 0.8em;
}
main section[data-section=journal] .container .full td[colspan="1"] {
  text-align: center;
}
main section[data-section=journal] .container .full th[colspan="1"] {
  text-align: center;
}
main section[data-section=journal] .container li {
  padding: 0;
  margin: 0;
}
main section[data-section=journal] .buttonContainer {
  width: 100%;
}
main section[data-section=journal] .buttonContainer .unsuccess {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: darkred;
}
main section[data-section=journal] .buttonContainer .unsuccess:hover {
  color: red;
}
main section[data-section=journal] .buttonContainer .success {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: darkgreen;
}
main section[data-section=journal] .buttonContainer .success:hover {
  color: green;
}
main section[data-section=journal] details[data-details=broken] {
  background-color: rgba(236, 130, 130, 0.6039215686);
}
main section[data-section=journal] details[data-details=inProgress] {
  background-color: #f0e68c;
}
main section[data-section=journal] details[data-details=refurbished] {
  background-color: rgba(79, 180, 79, 0.6431372549);
}
main section[data-section=journal] details[data-details=broad] {
  background-color: #005baa;
}
main section[data-section=journal] details[data-details=blue] {
  background-color: #b8defe;
}
main section[data-section=materialAndNotes] {
  flex: 1;
  border-left: 1px solid #005baa;
}
main section[data-section=materialAndNotes] .NoLamp {
  width: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #005baa;
  font-weight: bold;
  font-size: larger;
}
main section[data-section=materialAndNotes] .lampNumber {
  display: block;
  width: 100px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
  color: #005baa;
}
main section[data-section=materialAndNotes] input[type=button] {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
main section[data-section=materialAndNotes] details {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  min-height: 30px;
  background-color: #c1d4dc;
  width: calc(100% - 10px);
  border-radius: 5px;
}
main section[data-section=materialAndNotes] details summary {
  list-style: none;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}
main section[data-section=materialAndNotes] details .detailsContainer {
  border-top: 3px solid #005baa;
}
main section[data-section=materialAndNotes] details .detailsContainer ul {
  list-style: none;
  width: 100%;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li {
  width: calc(100% - 5px);
  display: block;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .selectContainer {
  width: 70%;
  height: 30px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .selectContainer select {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 0.6em;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputTextContainer {
  width: 85%;
  height: 30px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputTextContainer input[type=text] {
  width: calc(100% - 5px);
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding-left: 5px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputTextContainer select {
  width: calc(100% - 5px);
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  box-sizing: border-box;
  outline: none;
  border: none;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputNumberContainer {
  width: 15%;
  height: 30px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputNumberContainer input[type=number] {
  width: calc(100% - 6px);
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
  text-align: center;
  font-weight: bold;
  margin-left: 3px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputNumberContainer input[type=number]::-webkit-inner-spin-button, main section[data-section=materialAndNotes] details .detailsContainer ul li .inputNumberContainer input[type=number]::-webkit-outer-spin-button {
  display: none;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputButtonContainer {
  width: 15%;
  height: 30px;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputButtonContainer input[type=button] {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
main section[data-section=materialAndNotes] details .detailsContainer ul li .inputButtonContainer input[type=button]:hover {
  background-color: #a7a5a5;
}
main section[data-section=materialAndNotes] details .detailsContainer input[type=button] {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
main section[data-section=form] {
  flex: 2;
}
main section[data-section=form] form {
  width: 100%;
  height: 100%;
  display: flex;
}
main section[data-section=form] form .lamp-items {
  flex: 1;
  border-right: 1px solid #005baa;
}
main section[data-section=form] form .lamp-items ul {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: calc(100% - 20px);
}
main section[data-section=form] form .lamp-items ul li {
  display: flex;
  align-items: center;
  background-color: #c1d4dc;
  height: 30px;
}
main section[data-section=form] form .lamp-items ul li:not(:first-child) {
  margin-top: 5px;
}
main section[data-section=form] form .lamp-items ul li input[type=checkbox] {
  width: 30px;
  height: 30px;
}
main section[data-section=form] form .lamp-items ul li input[type=checkbox]:checked {
  background-color: red;
}
main section[data-section=form] form .lamp-items ul li label {
  margin-left: 10px;
}
main section[data-section=form] form .lamp-items textarea {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: calc(100% - 30px);
  height: 150px;
  resize: none;
  outline: 1px solid #c1d4dc;
  padding: 5px;
  color: #005baa;
  font-weight: bold;
}
main section[data-section=form] form .number-lamp {
  flex: 1;
}
main section[data-section=form] form .number-lamp input[type=number] {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  border: 0;
  outline: 0;
  border-bottom: 5px solid #005baa;
  font-size: 40px;
  color: #005baa;
}
main section[data-section=form] form .number-lamp input[type=number]::-webkit-file-upload-button, main section[data-section=form] form .number-lamp input[type=number]::-webkit-inner-spin-button {
  display: none;
}
main section[data-section=form] form .number-lamp input[type=submit] {
  display: block;
  margin: 0 auto;
  margin-top: 3px;
  width: 200px;
  height: 40px;
  background-color: #005baa;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
main section[data-section=form] form .number-lamp input[type=submit]:hover {
  color: darkgrey;
}
main section[data-section=form] form .number-lamp .errMessageFromServer {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
  border-bottom: 5px solid red;
  font-weight: bold;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section[data-section=form] form .number-lamp .successMessageFromServer {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 300px;
  border-bottom: 5px solid green;
  font-weight: bold;
  color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section[data-section=lamp] {
  flex: 1;
  border-left: 1px solid #005baa;
  overflow-y: scroll;
  padding-bottom: 5px;
}
main section[data-section=lamp]::-webkit-scrollbar {
  width: 0;
}
main section[data-section=lamp] li {
  width: calc(100% - 20px);
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
main section[data-section=lamp] li details {
  width: 100%;
  border-radius: 10px;
}
main section[data-section=lamp] li details summary {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #005baa;
  font-size: 1.3em;
  cursor: pointer;
}
main section[data-section=lamp] li .date {
  display: block;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-size: 0.7em;
}
main section[data-section=lamp] li .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section[data-section=lamp] li .container .full {
  width: 90%;
  table-layout: fixed;
  margin-bottom: 10px;
}
main section[data-section=lamp] li .container .full th {
  border: none;
  border-bottom: 1px solid #000;
}
main section[data-section=lamp] li .container .full td {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 0.8em;
}
main section[data-section=lamp] li .container .full td[colspan="1"] {
  text-align: center;
}
main section[data-section=lamp] li .container .full th[colspan="1"] {
  text-align: center;
}
main section[data-section=lamp] li .container li {
  padding: 0;
  margin: 0;
}
main section[data-section=lamp] li .buttonContainer {
  width: 100%;
}
main section[data-section=lamp] li .buttonContainer .unsuccess {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: darkred;
}
main section[data-section=lamp] li .buttonContainer .unsuccess:hover {
  color: red;
}
main section[data-section=lamp] li .buttonContainer .success {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: darkgreen;
}
main section[data-section=lamp] li .buttonContainer .success:hover {
  color: green;
}
main section[data-section=lamp] li details[data-details=broken] {
  background-color: rgba(236, 130, 130, 0.6039215686);
}
main section[data-section=lamp] li details[data-details=inProgress] {
  background-color: #f0e68c;
}
main section[data-section=lamp] li details[data-details=refurbished] {
  background-color: rgba(79, 180, 79, 0.6431372549);
}
main section[data-section=lamp] li details[data-details=broad] {
  background-color: #005baa;
}
main section[data-section=lamp] li details[data-details=blue] {
  background-color: #b8defe;
}

footer {
  background-color: #005baa;
  width: 100%;
  height: 20vh;
}/*# sourceMappingURL=lamp.css.map */