<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Журнал</title>
    <link
      rel="stylesheet"
      href="/static/styles/css/lamp.css"
      th:href="@{/styles/css/lamp.css}" />

    <script
      src="/static/jquery/jquery.js"
      th:src="@{/jquery/jquery.js}"></script>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a
            href="#"
            th:href="@{/lamps/add}"
            >Ламповая</a
          >
        </li>
        <li sec:authorize="hasAnyRole('ADMIN', 'TECHNICAL')">
          <a
            href="#"
            th:href="@{/lamps/repair}"
            >Ремонт</a
          >
        </li>

        <li>
          <a
            href="#"
            th:href="@{/lamps/journal}"
            sec:authorize="isAuthenticated()"
            >Журнал</a
          >
        </li>

        <li>
          <a
            href="javascript: document.logoutForm.submit()"
            sec:authorize="isAuthenticated()"
            >Выйти</a
          >
        </li>
      </ul>

      <form
        name="logoutForm"
        th:action="@{/logout}"
        method="post"
        th:hidden="true">
        <input
          hidden
          type="submit"
          value="Sign Out" />
      </form>
    </header>

    <th:block th:if="${main eq 'Sfd8zrP6'}">
      <main th:replace="~{lampFragments/main/add :: add}"></main>
    </th:block>

    <th:block th:if="${main eq 'Sfd8zrP7'}">
      <main th:replace="~{lampFragments/main/repair :: repair}"></main>
    </th:block>

    <th:block th:if="${main eq 'Sfd8zrP4'}">
      <main th:replace="~{lampFragments/main/journal :: journal}"></main>
    </th:block>

    <footer></footer>
  </body>
</html>
